version: '2'
services:
  tests:
    image: buildkite/plugin-tester
    volumes:
      - ".:/plugin:ro"
  lint:
    image: buildkite/plugin-linter
    command: ['--name', 'jobready/codeclimate-test-reporter-buildkite-plugin']
    volumes:
      - ".:/plugin:ro"
